<h1>~Here is your appearance~</h1>
<p>Rating: <%= @appearance.rating%> </p>
<p>Guest: <%= @appearance.guest.name%> </p>
<p>Episode Date: <%= @appearance.episode.date%> </p>
<p>Episode Number: <%= @appearance.episode.number%> </p>
