<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <a href="/episodes">Episodes</a> | <a href="/guests">Guests</a> | <a href="/appearances/new">Create a New Guest Appearance</a>
  <body>
    <%= yield %>
  </body>
</html>
